@import "tailwindcss";

@theme {
  --color-primary-base: #121525;
  --color-primary-dark: #14182f;
  --color-primary-light: #2e3248;
  --color-primary-soft: #a7abc9;
  --color-primary-accent: #89b0f2;
  --color-primary-white: #ffffff;

  --color-system-text: #7a7373;
  --color-system-button: #311c9d;
  --color-system-gold: #ffee33;
  --color-system-silver: #aeb6c7;
  --color-system-bronze: #b87735;
  --color-system-red: #ef4444;
  --color-system-green: #3fad37;
}
